//CSS in progres...

.cocktail-card {
  color: olivedrab;
}

.cocktail-image {
  max-height: 200px;
}

.cocktail-image:hover,
.cocktail-title:hover {
  cursor: pointer;
}

.cocktail-image:hover {
  transform: scale(1.03);
  transition: transform 0.3s ease-in-out;
}
