//just an example, delete it when style is done
.modal {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(6px);
  background-color: #00000046;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  &__details {
    height: 70%;
    width: 70%;
    background-color: white;
    border-radius: 30px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    .top {
      align-self: flex-end;
      padding-top: 3%;
      padding-right: 3%;
      .close-button {
        position: relative;
        top: -10%;
        left: -10%;
      }
    }
  }
}
